<%= render 'shared/banner2' %>
<div class="m-5"></div>
<div class="bg-new col-6 mx-auto">
  <div class="container new-box">
    <div class="mx-auto my-5">
      <%= simple_form_for(@list)  do |f| %>
        <%= f.input :name %>
        <%= f.input :photo, as: :file %>
        <%= f.submit class: 'button-6 my-3'  %>
      <% end %>
    </div>
  </div>
</div>
