<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.gannett-cdn.com/-mm-/83e081eae80cd2848af52df6da1060d621468f19/c=0-111-2120-1303/local/-/media/2021/02/04/USATODAY/usatsports/red-movie-theater-seats.jpg);">
  <div class="container">
    <h1 class="text-center">Add movie to <%= @list.name.upcase %> </h1>
  </div>
</div>

<div class="m-5"></div>
<div class="bg-new col-6 mx-auto">
  <div class="container new-box">
    <div class="mx-auto my-5">
      <%= simple_form_for [@list, @bookmark]  do |f| %>
        <%= f.input :comment %>
        <%= f.input :poster, as: :file %>
        <%= f.association :movie, prompt: "Choose a movie" %>
        <%= f.submit id="Save", class: "button-6 my-3" %>
      <% end %>
    </div>
  </div>
</div>
